{% capture description %}Tracklist and soundtrack informations for {{ title }}{% endcapture %}
{% include partials/header.liquid, title: title, description: description %}

<h1>{{ title }}</h1>

<p>Tracklist :</p>
<ol>
  {% assign tracks = collections.tracks | byMovie: page.fileSlug %} {% for track
  in tracks %}
  <li>
    <a href="{{ track.url }}">{{ track.data.track }}. {{ track.data.title }}</a>
  </li>
  {% endfor %}
</ol>

{% include partials/footer.liquid %}
